@font-face {
    font-family: 'genera-grotesk-heavy';
    src: url('../../tipografias/genera-grotesk-heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'hanken-book';
    src: url('../../tipografias/hanken-book.ttf') format('truetype');
}

@font-face {
    font-family: 'hanken-light';
    src: url('../../tipografias/hanken-light.ttf') format('truetype');
}
/*scrollbar ESTILO INICIO*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(241,229,199,1);
}

::-webkit-scrollbar-thumb {
    background: #BF9004;
    border-radius: 10px;
}

/*scrollbar ESTILO FIN*/
/*Fondo Inicio*/
.wrap span {
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    z-index: -1;
    background-color: #BF9004;
    box-shadow: 0 0 50px #f6e477, 0 0 100px #2A2A2A, 0 0 150px rgba(0,0,0,0.2), 0 0 200px rgba(255,255,255,0.3);
    animation: animate 10s linear infinite;
}

    .wrap span:nth-child(1) {
        left: 60px;
        animation-delay: 0.6s;
    }

    .wrap span:nth-child(2) {
        left: 10%;
        animation-delay: 3s;
        width: 60px;
        height: 60px;
    }

    .wrap span:nth-child(3) {
        left: 20%;
        animation-delay: 2s;
    }

    .wrap span:nth-child(4) {
        left: 30%;
        animation-delay: 5s;
        width: 80px;
        height: 80px;
    }

    .wrap span:nth-child(5) {
        left: 40%;
        animation-delay: 1s;
    }

    .wrap span:nth-child(6) {
        left: 50%;
        animation-delay: 7s;
    }

    .wrap span:nth-child(7) {
        left: 60%;
        animation-delay: 6s;
        width: 100px;
        height: 100px;
    }

    .wrap span:nth-child(8) {
        left: 70%;
        animation-delay: 8s;
    }

    .wrap span:nth-child(9) {
        left: 80%;
        animation-delay: 6s;
        width: 90px;
        height: 90px;
    }

    .wrap span:nth-child(10) {
        left: 90%;
        animation-delay: 4s;
    }

@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    80% {
        opacity: .7;
    }

    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

/*Fondo Fin*/

body {
    margin: 0;
    padding: 0;

    height: 80vh;
}
section {
    padding: 200px 0;
    
}
.cuentas-tabla {
    text-align: center;
    overflow: hidden;
    margin: 20px;
    background: rgba(285,286,256,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    box-shadow: inset 0 0 40px rgba(0,0,0,0.2), 0 20px 50px rgba(0,0,0,0.5);
    border-radius: 20px;
}
    .cuentas-tabla .cuentas-head {
        padding: 50px;
        background: #BF9004;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
.cuentas-tabla .cuentas-head h3{
    text-transform:uppercase;
    margin:0;
    padding:0;
    color:#ffffff;
    font-family:genera-grotesk-heavy;
}
    .cuentas-tabla .cuentas-head h5 {
        
        margin: 0;
        padding: 20px 0 0;
        color: #ffffff;
        font-weight: 200;
        font-size:11px;
        font-family:hanken-book;
    }
.cuentas-contenido{
    position:relative;
}
.cuentas-contenido ul{
    position:relative;
    margin:0;
    padding: 20px 0;
}
    .cuentas-contenido ul li {
        list-style: none;
        font-size: 16px;
        padding: 10px 0;
        color: #777;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        transition: 0.5s;
        font-family:hanken-book;
    }
.cuentas-contenido ul li:hover{
    border-left: 15px solid  #BF9004;
    border-right: 15px solid  #BF9004;
    cursor: default;
}
.cuenta-btn{
    padding:0 0 30px;

}
.cuenta-btn a {
    padding: 10px 40px;
    background:#2A2A2A;
    border: 1px solid #BF9004;
    color:rgba(241,229,199,1);
    border-radius:4px;
    font-size:18px;
    text-decoration:none;
    font-family:'Genera Grotesk';
}
.cuenta-btn a{
    font-family: 'Genera-grotesk-heavy';
    
    background: #6E6B6B;
    font-size: 17px;
    font-weight: 500;
    color: #F0E6DA;
    border: 3px solid #6E6B6B;
    border-radius: 4px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
}
.cuenta-btn a:hover{
    background:#BF9004;
    color:rgba(241,229,199,1);
    border: none;
}

