@font-face {
    font-family: 'genera-grotesk-heavy';
    src: url('../../tipografias/genera-grotesk-heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'hanken-book';
    src: url('../../tipografias/hanken-book.ttf') format('truetype');
}
@font-face {
    font-family: 'hanken-light';
    src: url('../../tipografias/hanken-light.ttf') format('truetype');
}
/*scrollbar ESTILO INICIO*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(241,229,199,1);
}

::-webkit-scrollbar-thumb {
    background: #BF9004;
    border-radius: 10px;
}

/*scrollbar ESTILO FIN*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
a:hover {
	cursor: pointer;
}

li {
	list-style: none;
}
/*Definir colores y tipografia*/
:root {
	--hanken: 'hanken-book', sans-serif;
	--lato: 'Lato', sans-serif;
    --grotesk: 'genera-grotesk-heavy', sans-serif;
    --plomo:#4e5155;
    --mostaza:#BF9004;
    --grey: #e3e2e2;
	--light: #f2f0ee;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--azulin:#5417BF;
	--mooostazon:#9C7503;
	--verdeson:#b7b711;	
	
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
    
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

/* Menu izquierdo */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}

/*LOGO parte inicio*/
#sidebar .logo img {
	height: 50px;
    margin-top:40px;
    margin-left: 30px;
}
#sidebar .admintext {
    font-size: 9px;
    text-align: center;
    margin-top: 10px;
    font-family: var(--grotesk);
    text-transform: uppercase;
    color: var(--plomo);
}


#sidebar .side-menu {
	width: 100%;
	margin-top: 30px;
}
/*LOGO parte fin*/

/*Cambio al seleccionar opcion
INICIO*/
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background:var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
/*opciones del menu*/
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--mostaza);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--mostaza);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/*Cambio al seleccionar opcion
FIN*/
/* Menu izquierdo fiiiiiiin */





/* derechitaaaaaaaa */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */

.profileButton{
	display: flex;
	align-items: center;
	gap: 15px;
	border-radius: 15px;
	padding: 1px 7px 1px 7px;
}

@keyframes shadow-drop-br{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:12px 12px 20px -12px rgba(0,0,0,.35)}}
.profileButton:hover{
	cursor: pointer;
	border-top: 0.2px solid  #777778;
	border-left: 0.2px solid #777778;
	animation:shadow-drop-br .4s cubic-bezier(.25,.46,.45,.94) both
}

#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--mostaza);
}


#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
    
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--mostaza);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notificacion {
	font-size: 20px;
	position: relative;
}
#content nav .notificacion .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .username_admin h1{
    font-size: 17px;
    color:var(--plomo);
}
/* NAVBAR */

/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--hanken);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
	
}
#content main .head-titulo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-titulo .left h1 {
	font-size: 36px;
	margin-bottom: 10px;
    font-family: var(--hanken);
    text-transform: uppercase;
	color: var(--dark);
}
#content main .head-titulo .left .subti {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-titulo .left .subti li {
	color: var(--dark);
}
#content main .head-titulo .left .subti li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-titulo .left .subti li a.active {
	color: var(--mostaza);
	pointer-events: unset;
}
/*Descargar*/
#content main .head-titulo .btn-descargar {
	height: 36px;
	width: 250px;
	margin-left: 800px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--mostaza);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}

/*Tabla de empresas reportadas INICIO*/
#content main .detalles{
	position: relative;
	width: 100%;
	padding: 10px;
	padding-top:20px;
}
#content main .detalles .Rrecientes{
	position: relative;
	display: grid;
	min-height: 530px;
	background:var(--light);
	padding: 20px;
	border-radius: 20px;
}
#content main .detalles .Rrecientes .titulo{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
#content main .detalles .Rrecientes .titulo h2{
	font-size: 25px;
}
#content main .detalles .Rrecientes .titulo .btn-ver{
	position: relative;
	padding: 5px 10px;
	background: var(--mostaza);
	color: var(--light);
	text-decoration: none;
	border-radius: 6px;
}
#content main .detalles .Rrecientes table{
	width: 100%;
	border-collapse:collapse;
}
#content main .detalles .Rrecientes table thead td{
	font-family: var(--grotesk);
}
#content main .detalles .Rrecientes table tr{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#content main .detalles .Rrecientes table tr .empresa img{
	width: 60px;
	height: 60px;
	border-radius:50% ;
	align-content: center;
}
#content main .detalles .Rrecientes table tr .empresa a{
	text-decoration: none;
	color: var(--mostaza);
	padding-left: 30px;
}
.report{
	padding-left: 30px;
}

/*SWITCH PENDIENTE O REVISADO INICIOOOOOOOOO*/
.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
   
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   transition: .4s;
   border-radius: 20px;
}

.slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   transition: .4s;
   border-radius: 20px;
}

input:checked + .slider {
   background-color:var(--mostaza);
}

input:checked + .slider:before {
   transform: translateX(26px);
}
/*SWITCH PENDIENTE O REVISADO FIIIIN*/
/*MAMAHUEVO YA ME CANSEEEEEEEEEEEEEEEEEE PIPIPIPIPIOI*/

/*POPUP REVISAR INICIO*/
.btn-revisar{
	background-color: var(--mostaza);
	color: var(--light);
	padding: 5px 10px;
	border-radius: 20px;	
	border: none;
}
.btn-revisar:hover{
	background-color: var(--light-yellow);
	color: var(--dark);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: var(--light);
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .empresa {
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;

}
.modal-header .empresa h1{
	padding-left: 20px;
	padding-top:20px;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 5px 10px;
  background-color: var(--mostaza);
  border-radius: 50%;
  color: var(--light);
  
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-body .caja-com .img img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.modal-body .caja-com .usu{
	display: flex;
	
}
.modal-body .caja-com .usu .nombre{
	padding-left: 20px;
	padding-top: 8px;
}
textarea{
	background: var(--grey);
	width: 450px;
	height: 152px;
	margin: 10px 0;
	padding: 10px;
	margin-left: 20px;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 0 0.5px var();
}
textarea:focus{
	outline-color: var(--mostaza);
}
.btn{
	float: right;
	margin-right: 10px;
	padding: 6px 14px;
	border: none;
	border-radius: 5px;
	background: var(--mostaza);
	color: var(--light);
}
.modal-body a{
	text-decoration:underline;
	color:var(--mostaza);
	padding-left: 40%;
}
.btn-baja{
	cursor: pointer;
	margin-top: 50px;
	margin-left: 60px;
	margin-bottom: 20px;
	padding: 6px 14px;
	border: none;
	border-radius: 5px;
	background: var(--dark-grey);
	color: var(--light);
}
.btn-baja:hover{
	background: rgb(142, 2, 2);
}
/*POPUP REVISAR FIN*/

/*Tabla de empresas reportadas FIN*/

/*DASHBOARD INICIO*/
.cards{
	width: 100%;
	padding: 15px 20px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 20px;
	margin-top: 30px;
}
.cards .card{
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	border-radius: 20px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.numero{
	font-size: 35px;
	color: var(--azulin);
	font-family: var(--lato);
	font-weight: 700;
}
.card-nombre{
	color: var(--plomo);
	font-weight: 600;
}
.icon i{
	font-size: 45px;
	color: var(--verdeson);
}

.cards-registros{
	width: 100%;
	height: 400px;
	padding: 15px 20px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 20px;
	margin-top: 30px;	
}
.card-tipo{
	padding: 30px;
	background: var(--light);
	border-radius: 20px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.card-nom {
 display: flex;
}
.regis-tipo {
 position: relative;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-bottom: 5px;
}
.card-nom1 {
 position: absolute;
 margin-bottom: 40px;
}
.nuevos-usuario{
	background: var(--grey);
	padding: 10px;
	border-radius: 10px;
	display: flex;
	justify-content:le;
	align-items:center;
	padding-bottom: 5px;
}
.img-usu img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
.divider {
   flex-grow: 1;
   border-bottom: 1px solid black;
   margin: 3px;
   margin-bottom: 20px;
}
.nombreees{
	padding-left: 10px;
}
.nombre{
	color: var(--azulin);
	font-family: var(--grotesk);
	padding-bottom: 3px;
}
.tipo-usuario{
	font-size: 9px;
	text-transform: uppercase;
	font-family: var(--lato);
	font-weight: 600;
}
.regis-tipo button{
	background: var(--mostaza);
	padding: 5px 10px;
	border-radius: 20px;
	border: none;
	display: flex;
	justify-content: center;
}
.regis-tipo button a{
	color: var(--light);
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 600;
}
.regis-tipo button:hover{
	background: var(--verdeson);
}
.card-nom2{
	font-size: 20px;
	font-weight: 600;
	color: var(--plomo);
}

#category-list {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-gap: 10px;
 list-style-type: none;
 padding: 0;
}

#category-list li {
 background-color: #ddd;
 padding: 10px;
 text-align: center;
 border-radius: 10px;
}
.categorias-caja{
	width: 100%;
	padding: 30px 20px;
	margin-top: 30px;
	background: var(--light);
	border-radius: 20px;
	margin-left: 4px;

}
.categoria-header{
	display: flex;
	justify-content: space-between;	
}
.categoria-header button{
	background: var(--mostaza);
	padding: 10px 10px;
	border-radius: 20px;
	border: none;
	display: flex;
	justify-content: center;
}
.categoria-header button:hover{
	background: var(--azulin);
}
.categoria-header button a{
	color: var(--light);
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 600;
}
.categoria{
	font-size: 20px;
	text-transform: uppercase;
	font-family: var(--grotesk);
	padding-top: 20px;
	padding-bottom: 15px;
	color: var(--plomo);
}
/*DASHBOARD FIN*/
