@font-face {
    font-family: 'genera-grotesk-heavy';
    src: url('../../tipografias/genera-grotesk-heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'hanken-book';
    src: url('../../tipografias/hanken-book.ttf') format('truetype');
}
@font-face {
    font-family: 'hanken-light';
    src: url('../../tipografias/hanken-light.ttf') format('truetype');
}
/*scrollbar ESTILO INICIO*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(241,229,199,1);
}

::-webkit-scrollbar-thumb {
    background: #BF9004;
    border-radius: 10px;
}

/*scrollbar ESTILO FIN*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:hanken-book;
}
body {
    background: #F0E6DA;
    margin-top: 20px;
    
}

h4{
    font-family:genera-grotesk-heavy;
}
.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}


.btn {
    cursor: pointer;
    
}

.text-light {
    color: #babbbc !important;
}





.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
img{
    border-radius:50px;
}
header {
    position: relative;
    padding: 0.8rem;
    background: rgba(241,229,199,1);
}

.navbar {
    transform: translateY(-20%);
    position: relative;
    width: 100%;
    height: 50px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .navbar .logo img {
        width: auto;
        height: 30px;
        
        border-radius:0px;
    }

    .navbar .button {
        --bg: #FFFCED;
        --hover-bg: #D9A714;
        border: 1px solid var(--bg);
        border-radius: 4px;
        padding: 0.8em 2em;
        background: #BF9004;
        transition: 0.2s;
    }

        .navbar .button:hover {
            transform: translate(-0.25rem,-0.25rem);
            background: var(--hover-bg);
            box-shadow: 0.25rem 0.25rem #2A2A2A;
        }

        .navbar .button:active {
            transform: translate(0);
            box-shadow: none;
        }

        .navbar .button a {
            font-family: 'Genera-grotesk-heavy';
            text-decoration: none;
            color: #FFFCED;
            background-color: transparent;
            border: none;
        }
.switcher {
   display: block;
}
