:root {
	--hanken: 'hanken-book', sans-serif;
	--lato: 'Lato', sans-serif;
    --grotesk: 'genera-grotesk-heavy', sans-serif;
    --plomo:#4e5155;
    --mostaza:#BF9004;
    --grey: #e3e2e2;
	--light: #f2f0ee;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

td{
    width: 100%
}

.tablaSolicitudes{
    background-color: var(--light);
    width: 100px;
}