@model PruebaFinal.Models.Detalle_Wishlist

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Detalle_Wishlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="codWishlist" class="control-label"></label>
                <select asp-for="codWishlist" class ="form-control" asp-items="ViewBag.codWishlist"></select>
            </div>
            <div class="form-group">
                <label asp-for="codProducto" class="control-label"></label>
                <select asp-for="codProducto" class ="form-control" asp-items="ViewBag.codProducto"></select>
            </div>
            <div class="form-group">
                <label asp-for="fechaAnadido" class="control-label"></label>
                <input asp-for="fechaAnadido" class="form-control" />
                <span asp-validation-for="fechaAnadido" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isCarrito" /> @Html.DisplayNameFor(model => model.isCarrito)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
