@font-face {
    font-family: 'genera-grotesk-heavy';
    src: url('../../tipografias/genera-grotesk-heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'hanken-book';
    src: url('../../tipografias/hanken-book.ttf') format('truetype');
}
@font-face {
    font-family: 'hanken-light';
    src: url('../../tipografias/hanken-light.ttf') format('truetype');
}
/*scrollbar ESTILO INICIO*/
html {
 overflow: scroll;
}

::-webkit-scrollbar {
   width: 0px;
   background: transparent; /* make scrollbar transparent */
}


/*scrollbar ESTILO FIN*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
/*Definir colores y tipografia*/
:root {
	--hanken: 'hanken-book', sans-serif;
	--lato: 'Lato', sans-serif;
    --grotesk: 'genera-grotesk-heavy', sans-serif;
    --plomo:#4e5155;
    --mostaza:#BF9004;
    --grey: #e3e2e2;
	--light: #f2f0ee;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
    
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--light);
	overflow-x: hidden;
}

#opciones {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;

}

/*boton*/
.comic-button {
  
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color:var(--light);
  background-color: var(--mostaza);
  border: 2px solid #4e5155;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #4e5155;
  transition: all 0.3s ease;
  margin: 20px;
  font-family: var(--lato);
}

.comic-button:hover {
  background-color: var(--light);
  color: var(--mostaza);
  border: 2px solid #BF9004;
  box-shadow: 5px 5px 0px #BF9004;
}

.comic-button:active {
  background-color: var(--light-yellow);
  box-shadow: none;
  transform: translateY(4px);
}

/**/
