@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="app">
	<h1>{{ message }}</h1>
</div>


@section Scripts {
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script>
		const app = Vue.createApp({
			el: '#app',
			data() {
				return {
					message: 'Hello Vue'
				}
			}
		})

		app.mount('#app')
	</script>
}

