@font-face {
    font-family: 'genera-grotesk-heavy';
    src: url('../../tipografias/genera-grotesk-heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'hanken-book';
    src: url('../../tipografias/hanken-book.ttf') format('truetype');
}
@font-face {
    font-family: 'hanken-light';
    src: url('../../tipografias/hanken-light.ttf') format('truetype');
}

body {
    background: #2A2A2A;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Hanken-Book',sans-serif;
}
/*scrollbar ESTILO INICIO*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(241,229,199,1);
}

::-webkit-scrollbar-thumb {
    background: #BF9004;
    border-radius: 10px;
}

/*scrollbar ESTILO FIN*/
/*Fondo Inicio*/
.wrapper span {
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    z-index: -1;
    background-color: #BF9004;
    box-shadow: 0 0 50px #f6e477, 0 0 100px #2A2A2A, 0 0 150px rgba(0,0,0,0.2), 0 0 200px rgba(255,255,255,0.3);
    animation: animate 10s linear infinite;
}

    .wrapper span:nth-child(1) {
        left: 60px;
        animation-delay: 0.6s;
    }

    .wrapper span:nth-child(2) {
        left: 10%;
        animation-delay: 3s;
        width: 60px;
        height: 60px;
    }

    .wrapper span:nth-child(3) {
        left: 20%;
        animation-delay: 2s;
    }

    .wrapper span:nth-child(4) {
        left: 30%;
        animation-delay: 5s;
        width: 80px;
        height: 80px;
    }

    .wrapper span:nth-child(5) {
        left: 40%;
        animation-delay: 1s;
    }

    .wrapper span:nth-child(6) {
        left: 50%;
        animation-delay: 7s;
    }

    .wrapper span:nth-child(7) {
        left: 60%;
        animation-delay: 6s;
        width: 100px;
        height: 100px;
    }

    .wrapper span:nth-child(8) {
        left: 70%;
        animation-delay: 8s;
    }

    .wrapper span:nth-child(9) {
        left: 80%;
        animation-delay: 6s;
        width: 90px;
        height: 90px;
    }

    .wrapper span:nth-child(10) {
        left: 90%;
        animation-delay: 4s;
    }

@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    80% {
        opacity: .7;
    }

    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

/*Fondo Fin*/
img {
    height: 480px;
    border-radius: 180px;
    border: 4px solid #BF9004;
    margin-right: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
}

.container {
    position: absolute;
    transform: translate(-50%,1%);
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    height: 380px;
    width: 250px;
    padding: 3em;
    border-radius: 20px;
    background: rgba(285,286,256,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
}

p {
    color: #F0E6DA;
    font-family: genera-grotesk-heavy;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

h1 {
    color: #F0E6DA;
    font-family:hanken-book;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

input {
    background: transparent;
    width: 220px;
    font-size: 0.9rem;
    color: #F0E6DA;
    padding: 1em;
    margin-bottom: 0.5em;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.2)
}

    input::placeholder {
        color: #C1BCBC;
    }

    input[type="email"]:focus {
        box-shadow: 2px 2px 40px 5px #6E6B6B;
        outline: none;
    }

    input[type="password"]:focus {
        box-shadow: 2px 2px 40px 5px #6E6B6B;
        outline: none;
    }

/*OJO INICIO*/
.eye {
    padding-left: 190px;
}

#hide1 {
    display: none;
}
/*OJO FIN*/
/*RECUERDAME INICIO*/

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 70px;
    justify-content: stretch;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 0.5em;
}

    .flex-row > div > label {
        font-size: 12px;
        color: black;
        font-weight: 400;
    }

span {
    font-size: 12px;
    color: black;
    font-weight: 400;
}

a {
    font-size: 12px;
    color: black;
    font-weight: 400;
}
/*RECUERDAME FIN*/



/*CHECKBOX INICIO*/
.checkbox-wrapper input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper .terms-label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

    .checkbox-wrapper .terms-label .label-text {
        margin-left: 10px;
    }

.checkbox-wrapper .checkbox-svg {
    width: 20px;
    height: 20px;
}

.checkbox-wrapper .checkbox-box {
    fill: rgba(207, 205, 205, 0.425);
    stroke: #F0E6DA;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper .checkbox-tick {
    stroke: #F0E6DA;
    stroke-dasharray: 172;
    stroke-dashoffset: 172;
    transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-box,
.checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-tick {
    stroke-dashoffset: 0;
}
/*CHECKBOX FIN*/

/*BOTON DE INGRESA INICIO*/


 .button {
    --bg: #FFFCED;
    --hover-bg: #D9A714;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: #BF9004;
    transition: 0.2s;
}
 .button:hover {
        transform: translate(-0.25rem,-0.25rem);
        background: var(--hover-bg);
        box-shadow: 0.25rem 0.25rem #2A2A2A;
        cursor: pointer;
    }

 .button:active {
        transform: translate(0);
        box-shadow: none;
    }

.button a {
        font-family: 'Genera-grotesk-heavy';
        text-decoration: none;
        color: #FFFCED;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
/*BOTON DE INGRESA FIN*/