@model PruebaFinal.Models.Persona

@{
    ViewData["Title"] = "Login";
}

    <script src="https://kit.fontawesome.com/7c61ac1c1a.js"></script>
    <script src="~/js/login.js"></script>

    <div class="wrapper">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <img src="~/media/loginGif.gif" />

        <form name="login" id="formulario_login" asp-action="Login" method="post">

            <div class="container">
                    <p>HOLA!</p>
                    <h1>que bueno verte :)</h1>
                        <input type="text" placeholder="Ingresa tu correo" asp-for="userPersona" /><br>

                        <input type="password" placeholder="Ingresa tu contraseña" id="myInput" asp-for="passwordPersona" />

                    <span class="eye" onclick="myFunction()">
                        <i style="color: #F0E6DA " id="hide1" class="fa-solid fa-eye"></i>
                        <i style="color: #F0E6DA " id="hide2" class="fa-solid fa-eye-slash"></i>
                    </span>



                    <div class="flex-row">
                            <div class="checkbox-wrapper">
                                <input id="terms-checkbox-37" name="checkbox" type="checkbox">
                                <label class="terms-label" for="terms-checkbox-37">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 200 200" class="checkbox-svg">
                                        <mask fill="white" id="path-1-inside-1_476_5-37">
                                            <rect height="200" width="200"></rect>
                                        </mask>
                                        <rect mask="url(#path-1-inside-1_476_5-37)" stroke-width="40" class="checkbox-box" height="200" width="200"></rect>
                                        <path stroke-width="15" d="M52 111.018L76.9867 136L149 64" class="checkbox-tick"></path>
                                    </svg>
                                    <span class="label-text">Recuerdame</span>
                                </label>
                        </div>
                        <a style="text-decoration: none; color: #F0E6DA;font-size:11px" href="recuperar_contrasena.html">¿Olvidaste tu contraseña?</a>
                    </div>

                    <p style="font-size:13px;font-family:Hanken;padding-bottom:15px;padding-top:20px;">¿No tienes cuenta?<a style="padding-right:5px" href="../Preregistro/preregistro.html">Regístrate</a></p>



                    <div class="button">
                        <input style="font-family: 'Genera-grotesk-heavy'; text-decoration: none; color: #FFFCED; background-color: transparent; border: none;font-size:15px"
                           href="#" type="submit" value="Ingresa">
                    </div>

            </div>
        </form>


    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

